# Dependencies
node_modules/
/ios
/android

# Build output
dist/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
.env.*.example
.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Expo / React Native
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Testing
coverage/
.nyc_output/
